html, body {
    margin:0%;

}

.header {
    padding-left: 150px;
}
.form-container {
    height: 350px;
    width: 700px;
    background-color: aqua; 

}

.left-column {
    float: left;

}

.right-column {
    float: right;
}

.function-button {
    position: fixed;
    left: 300px;
    top: 400px; 
}

.result-container {
    height: 50%;
    width: 50%;
    background-color: black;
}


